<section class="aboutus">
    <img src="../img/big-block-icon.png" alt="Иконка" class="big-block-icon-1">
    <img src="../img/big-block-icon.png" alt="Иконка" class="big-block-icon-2">
    <div class="aboutus__title-wrap">
        <h2 class="aboutus__title h2">О нас</h2>
    </div>
    <div class="aboutus__inner">
        <p class="aboutus__text">Добро пожаловать в космический мир наших стоматологических
            услуг!Посмотрите наше короткое видео и отправьтесь в захватывающее путешествие по звездным
            чисткам, лунным лечениям и галактической ортодонтии. У нас каждая улыбка - как светлая
            звезда в небесах!</p>
        <div class="aboutus__video-box">
            <div class="aboutus__video">

            </div>
            <div class="aboutus__img-wrap">
                <img src="../img/aboutus-video.jpg" alt="Кадр видео" class="aboutus__img">
            </div>
            <img src="../img/doctors-arrow-right.svg" alt="Кнопка старт видео" class="aboutus__video-play">
        </div>
    </div>
</section>