<section class="contacts">
    <div class="contacts__container">
        <div class="contacts__inner">
            <div class="contacts__left">
                <h2 class="contacts__title h2">Контакты</h2>
                <div class="contacts__phone-wrap">
                    <a href="tel:375251234567" class="contacts__phone">+ 375 (25) 123-45-67</a>
                    <img src="../img/phone.svg" alt="Телефон" class="contacts__phone-img">
                </div>
                <div class="contacts__city-wrap">
                    <div class="contacts__city">Город, Ул. Улица 11</div>
                    <img src="../img/location.svg" alt="" class="contacts__city-img">
                </div>
                <img src="../img/pasta-kid.png" alt="Летающий человечек" class="contacts__pasta-kid pasta-kid">
            </div>
            <div class="contacts__right">
                <form class="contacts__form">
                    <input type="tel" class="contacts__form-input" placeholder="+375 хх ххх-хх-хх">
                    <input type="text" class="contacts__form-input" placeholder="Имя">
                    <button class="contacts__form-btn btn">Заказать консультацию</button>
                </form>
            </div>
        </div>
    </div>
</section>