<footer class="footer">
    <div class="footer__container">
        <div class="footer__left">
            <nav class="footer-menu">
                <ul class="footer-menu__list">
                    <li class="footer-menu__item">
                        <a href="#" class="footer-menu__link">Галерея</a>
                    </li>
                    <li class="footer-menu__item">
                        <a href="#" class="footer-menu__link">Услуги</a>
                    </li>
                    <li class="footer-menu__item">
                        <a href="#" class="footer-menu__link">Сотрудничество</a>
                    </li>
                    <li class="footer-menu__item">
                        <a href="#" class="footer-menu__link">О нас</a>
                    </li>
                    <li class="footer-menu__item">
                        <a href="#" class="footer-menu__link">Контакты</a>
                    </li>
                </ul>
            </nav>
            <p class="footer__text">
                Ощество с ограниченной ответственностью «Общество» Юридический и почтовый адрес: Республика
                Республика,<br>
                220089г. Город, ул. ,Улица, д. 5.<br>
                УНП123456789 Расчетный<br>
                счет № ХХХХ ХХХХ ХХХХ ХХХХ ХХХХ 0000 0000в ОАО «Банк»<br>
                БИК BAPBBY2XАдрес банка: г. Город, пр. Проспект, 3.<br>
                Регистрационный номер 123456 в торговом реестре Республики Республики</p>
        </div>
        <div class="footer__right">
            <div class="footer__social">
                <a href="#" class="footer__social-item">
                    <svg class="svg-instagram-dims">
                        <use xlink:href="sprite.svg#instagram"></use>
                    </svg>
                </a>
                <a href="#" class="footer__social-item">
                    <svg class="svg-telegram-dims">
                        <use xlink:href="sprite.svg#telegram"></use>
                    </svg>
                </a>
                <a href="#" class="footer__social-item">
                    <svg class="svg-viber-dims">
                        <use xlink:href="sprite.svg#viber"></use>
                    </svg>
                </a>
                <a href="#" class="footer__social-item">
                    <svg class="svg-whatsapp-dims">
                        <use xlink:href="sprite.svg#whatsapp"></use>
                    </svg>
                </a>
            </div>
            <buttun class="footer__btn btn">Напишите нам</buttun>
        </div>
    </div>
</footer>