<div class="gallery-slider-container">
    <div class="gallery-slider swiper">
        <div class="gallery-slider__wrapper swiper-wrapper">
            <div class="gallery-slider__slide swiper-slide">
                <img src="../img/gallery-1.jpg" alt="Галерея" class="gallery-slider__img">
            </div>
            <div class="gallery-slider__slide swiper-slide">
                <img src="../img/gallery-2.jpg" alt="Галерея" class="gallery-slider__img">
            </div>
            <div class="gallery-slider__slide swiper-slide">
                <img src="../img/gallery-3.jpg" alt="Галерея" class="gallery-slider__img">
            </div>
            <div class="gallery-slider__slide swiper-slide">
                <img src="../img/gallery-1.jpg" alt="Галерея" class="gallery-slider__img">
            </div>
            <div class="gallery-slider__slide swiper-slide">
                <img src="../img/gallery-2.jpg" alt="Галерея" class="gallery-slider__img">
            </div>
            <div class="gallery-slider__slide swiper-slide">
                <img src="../img/gallery-3.jpg" alt="Галерея" class="gallery-slider__img">
            </div>
        </div>
    </div>
    <div class="swiper-button-prev">
        <img src="../img/doctors-arrow-left.svg" alt="">
    </div>
    <div class="swiper-button-next">
        <img src="../img/doctors-arrow-right.svg" alt="">
    </div>
</div>