<section class="reviews">
    <h2 class="reviews__title h2">Отзывы</h2>
    <div class="reviews__inner">
        <div class="reviews__list">
            <div class="reviews__item">
                <div class="reviews__avatar-wrap">
                    <img src="../img/reviews-avatar.svg" alt="Аватарка" class="reviews__avatar">
                </div>
                <div class="reviews__user-box">
                    <div class="reviews__star-list">
                        <img src="../img/reviews-star.svg" alt="Звездочка" class="reviews__star">
                        <img src="../img/reviews-star.svg" alt="Звездочка" class="reviews__star">
                        <img src="../img/reviews-star.svg" alt="Звездочка" class="reviews__star">
                        <img src="../img/reviews-star.svg" alt="Звездочка" class="reviews__star">
                        <img src="../img/reviews-star.svg" alt="Звездочка" class="reviews__star">
                    </div>
                    <div class="reviews__username">Ucer Name</div>
                </div>
                <p class="reviews__text">Наша семья очень довольна посещением детской стоматологии. Врачи замечательно
                    подошли к нашему ребенку, создав дружелюбную и безопасную атмосферу. Мы остались очень довольны
                    профессионализмом и вниманием к деталям. Ребенок с удовольствием посещает стоматолога и не
                    испытывает
                    страха благодаря заботливому отношению врачей. Большое спасибо за заботу о здоровье нашего малыша!
                </p>
            </div>
            <div class="reviews__item">
                <div class="reviews__avatar-wrap">
                    <img src="../img/reviews-avatar.svg" alt="Аватарка" class="reviews__avatar">
                </div>
                <div class="reviews__user-box">
                    <div class="reviews__star-list">
                        <img src="../img/reviews-star.svg" alt="Звездочка" class="reviews__star">
                        <img src="../img/reviews-star.svg" alt="Звездочка" class="reviews__star">
                        <img src="../img/reviews-star.svg" alt="Звездочка" class="reviews__star">
                        <img src="../img/reviews-star.svg" alt="Звездочка" class="reviews__star">
                        <img src="../img/reviews-star.svg" alt="Звездочка" class="reviews__star">
                    </div>
                    <div class="reviews__username">Ucer Name</div>
                </div>
                <p class="reviews__text">Наша семья очень довольна посещением детской стоматологии. Врачи замечательно
                    подошли к нашему ребенку, создав дружелюбную и безопасную атмосферу. Мы остались очень довольны
                    профессионализмом и вниманием к деталям. Ребенок с удовольствием посещает стоматолога и не
                    испытывает
                    страха благодаря заботливому отношению врачей. Большое спасибо за заботу о здоровье нашего малыша!
                </p>
            </div>
            <div class="reviews__item">
                <div class="reviews__avatar-wrap">
                    <img src="../img/reviews-avatar.svg" alt="Аватарка" class="reviews__avatar">
                </div>
                <div class="reviews__user-box">
                    <div class="reviews__star-list">
                        <img src="../img/reviews-star.svg" alt="Звездочка" class="reviews__star">
                        <img src="../img/reviews-star.svg" alt="Звездочка" class="reviews__star">
                        <img src="../img/reviews-star.svg" alt="Звездочка" class="reviews__star">
                        <img src="../img/reviews-star.svg" alt="Звездочка" class="reviews__star">
                        <img src="../img/reviews-star.svg" alt="Звездочка" class="reviews__star">
                    </div>
                    <div class="reviews__username">Ucer Name</div>
                </div>
                <p class="reviews__text">Наша семья очень довольна посещением детской стоматологии. Врачи замечательно
                    подошли к нашему ребенку, создав дружелюбную и безопасную атмосферу. Мы остались очень довольны
                    профессионализмом и вниманием к деталям. Ребенок с удовольствием посещает стоматолога и не
                    испытывает
                    страха благодаря заботливому отношению врачей. Большое спасибо за заботу о здоровье нашего малыша!
                </p>
            </div>
            <div class="reviews__item">
                <div class="reviews__avatar-wrap">
                    <img src="../img/reviews-avatar.svg" alt="Аватарка" class="reviews__avatar">
                </div>
                <div class="reviews__user-box">
                    <div class="reviews__star-list">
                        <img src="../img/reviews-star.svg" alt="Звездочка" class="reviews__star">
                        <img src="../img/reviews-star.svg" alt="Звездочка" class="reviews__star">
                        <img src="../img/reviews-star.svg" alt="Звездочка" class="reviews__star">
                        <img src="../img/reviews-star.svg" alt="Звездочка" class="reviews__star">
                        <img src="../img/reviews-star.svg" alt="Звездочка" class="reviews__star">
                    </div>
                    <div class="reviews__username">Ucer Name</div>
                </div>
                <p class="reviews__text">Наша семья очень довольна посещением детской стоматологии. Врачи замечательно
                    подошли к нашему ребенку, создав дружелюбную и безопасную атмосферу. Мы остались очень довольны
                    профессионализмом и вниманием к деталям. Ребенок с удовольствием посещает стоматолога и не
                    испытывает
                    страха благодаря заботливому отношению врачей. Большое спасибо за заботу о здоровье нашего малыша!
                </p>
            </div>
            <div class="reviews__item">
                <div class="reviews__avatar-wrap">
                    <img src="../img/reviews-avatar.svg" alt="Аватарка" class="reviews__avatar">
                </div>
                <div class="reviews__user-box">
                    <div class="reviews__star-list">
                        <img src="../img/reviews-star.svg" alt="Звездочка" class="reviews__star">
                        <img src="../img/reviews-star.svg" alt="Звездочка" class="reviews__star">
                        <img src="../img/reviews-star.svg" alt="Звездочка" class="reviews__star">
                        <img src="../img/reviews-star.svg" alt="Звездочка" class="reviews__star">
                        <img src="../img/reviews-star.svg" alt="Звездочка" class="reviews__star">
                    </div>
                    <div class="reviews__username">Ucer Name</div>
                </div>
                <p class="reviews__text">Наша семья очень довольна посещением детской стоматологии. Врачи замечательно
                    подошли к нашему ребенку, создав дружелюбную и безопасную атмосферу. Мы остались очень довольны
                    профессионализмом и вниманием к деталям. Ребенок с удовольствием посещает стоматолога и не
                    испытывает
                    страха благодаря заботливому отношению врачей. Большое спасибо за заботу о здоровье нашего малыша!
                </p>
            </div>
        </div>
        <form class="reviews__form">
            <input type="text" class="reviews__input" placeholder="Оставьте свой отзыв здесь!">
            <button class="reviews__btn btn">Оставить отзыв</button>
        </form>
    </div>
</section>